.imgHeight100{
    width: 100%;
    height: auto;
    

}
.h-scrolling {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

  }

  .breakDiv {
    white-space:normal !important;
  
  }