<div id="actorDetail" class="container pt-md-5 pb-md-5 no-gutter pt-4">
    <div class="row">
        <div class="col-md-4 ">
            <img class="rounded imgHeight100 img-thumbnail " src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{actor.profile_path}}" alt="actorImage">
        </div>
        <div class="col-md-8">
            <h2 class="font-weight-bold pt-3 pt-md-0">{{actor.name}}</h2>
            <div class="pt-4 pb-4">
                <h5>Biography</h5>
                <div>
                    {{actor.biography||"We don't have a biography for"+actor.name+"."}}
                </div>
            </div>
            <div class="pt-4 pb-4">
                <h5>Known For</h5>
                <div id="actorMovieList" class="h-scrolling">
                 
                        <div class="h-scrolling " *ngIf="castes!=null; then thenBlock; else elseBlock;"></div> 
                        <ng-template #thenBlock>
                            <div class="col-3 col-lg-2 d-inline-block px-1" *ngFor="let movie of castes.slice(0,10)">
                                <div class="card " >
                                    <a routerLink="/movies/{{movie.id}}">
                                        <img src="https://image.tmdb.org/t/p/w138_and_h175_face/{{movie.poster_path}}" class="card-img-top" alt="{{movie.title}}">
                                    </a> 
                                    <div class="px-1 text-center ">
                                        <h6 class="font-smaller "><small class="breakDiv">{{movie.title.split(" ").slice(0,4).join(" ")}}</small></h6>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #elseBlock>
                            <div class="col-12">
                                {{"We don't have any works for "+actor.name}}
                            </div>
                           
                        </ng-template>
                    
                   
                </div>
            </div>
          
        </div>
    </div>

    <div id="actorSubDetail">
       
            <div class="row pt-4">
                <div class="col-md-4">
                    <h3><i class="fa fa-facebook-official"></i>&nbsp;
                    <i class="fa fa-twitter "></i>&nbsp;
                    <i class="fa fa-instagram"></i>
                    </h3>

                    <div class="pt-3">
                        <h4 class="font-weight-bold">Personal Info</h4>
             
                        <div class="row pt-2">
                            <div class="col-3 col-md-12">
                                <strong>Known For</strong>
                             </div>
                            <div class="col-9 col-md-12 text-left">
                                {{actor.known_for_department}}
                            </div>
                         </div>
                         <div class="row pt-2">
                            <div class="col-3 col-md-12">
                                <strong>Known Credits</strong>
                             </div>
                            <div class="col-9 col-md-12 text-left">       
                                {{crews.length+castes.length}}
                            </div>
                         </div>
                         <div class="row pt-2">
                            <div class="col-3 col-md-12">
                                <strong> Gender</strong>
                             </div>
                            <div class="col-9 col-md-12 text-left">
                                {{actor.gender==1?"Male":actor.gender==2?"Female":"Variety"}}
                            </div>
                         </div>
                         <div class="row pt-2" >
                            <div class="col-3 col-md-12">
                                <strong> Birthday</strong>
                             </div>
                            <div class="col-9 col-md-12 text-left">
                                {{actor.birthday}}
                            </div>
                         </div>
                         <div class="row pt-2">
                            <div class="col-3 col-md-12">
                                <strong> Place of Birth</strong>
                             </div>
                            <div class="col-9 col-md-12 text-left">
                                {{actor.place_of_birth}}
                            </div>
                         </div>
                         <div class="row pt-2">
                            <div class="col-12">
                                <strong> Also Known As</strong>
                             </div>
                            <div class="col-9 col-md-12 text-left pt-2" *ngFor="let item of actor.also_known_as">
                                {{item}}
                            </div>
                         </div>
                     </div>
                     <hr>
                </div>
               
                
                <div class="col-md-8 pb-4">
                    <h3 class="pt-3 pt-md-0">{{actor.known_for_department}}</h3>
                    <ul class="list-group" *ngFor="let credit of castes; index as i">
                        <li class="list-group-item" *ngIf="credit.release_date;">
                            
                                <span >{{credit.release_date.substr(0,4)}}</span>
                            
                                <i class="fa fa-circle-o pl-3 pr-4"></i> 
                                <a routerLink="/movies/{{credit.id}}"> {{credit.title?credit.title:""}} </a>
                                  <span class="text-secondary word-break">as {{credit.character?credit.character:""}}</span>
                           
                            
                             
                        </li>
                        
                      </ul>
                </div>

            </div>

        
    </div>
    
    <!-- <div class="row py-4">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Known_For</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
            </div>
        </nav>
        <div class="tab-content px-4 py-4" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
             <div class="row pb-5">
                    <span *ngFor="let item of actor.also_known_as" class="px-3">
                        [{{item}}],
                    </span>
                </div>
             
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi voluptas consequatur dicta praesentium rerum quod iure! Quod adipisci unde, aliquam quia rem porro magni dicta accusantium accusamus officia vero illum.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi voluptas consequatur dicta praesentium rerum quod iure! Quod adipisci unde, aliquam quia rem porro magni dicta accusantium accusamus officia vero illum.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi voluptas consequatur dicta praesentium rerum quod iure! Quod adipisci unde, aliquam quia rem porro magni dicta accusantium accusamus officia vero illum.
                
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    
            </div>
        </div>
      
    </div> -->
   
</div>