<p>movie-recommend works!</p>
<div class="row">
    <div class="col-6 col-lg-4" *ngFor="let recom of recommend2.slice(3,6)">
        <div class="card " >
           
            <a routerLink="/movies/{{recom.id}}">
                <img class="img-thumbnail rounded" src="https://image.tmdb.org/t/p/w250_and_h141_face/{{recom.backdrop_path}}" alt="{{recom.title}}" >
            </a>
            <div class="px-1 text-center ">
                <h6 class="font-smaller"><small>{{recom.title}}</small></h6>
            </div>
        </div>
    </div>
</div>