<div id="movieDetail">
  <div class="row  " id="movieMainDetail">
     <div class="col-12 col-md-5 col-lg-3 pl-md-5 text-center poster_wrapper">
        <img class="rounded img-thumbnail" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}" alt="">
     </div>
     <div class="col-md-7 col-lg-8 pt-3 pt-md-1 ml-xl-5 px-4">
         <h4 class="font-weight-bold text-center text-md-left">{{movie.title}}({{movie.release_date.substr(0,4)}})</h4>
         <div class="row">
             <div class="col-lg-4"><i class="fa fa-share-square-o px-2"></i> {{movie.release_date}} ({{movie.original_language}})</div>
             <div class="col-lg-3 "><i class="fa fa-clock-o px-2"></i>{{movie.runtime}} min</div>
             <div class="col-lg-5">
                <i class="fa fa-film px-2"></i>
                <span *ngFor="let g of movie.genres;last as l;">
                {{g.name}}{{l?"":","}}
             </span></div>
             
            
         </div>
         <div class="row">
             <div class="col-12 col-lg-3 py-2 py-lg-4 "><i class="fa fa-thumbs-o-up px-2"></i>User Score:{{movie.vote_average}}</div>
             <div class="col-2 col-lg-1 offset-col-lg-1 py-2 py-lg-4"> <button type="button" class="btn btn-dark btn-circle text-light">
                <i class="fa fa-list-alt fa-2x"></i>
            </button></div>
             <div class="col-2 col-lg-1 py-2 py-lg-4"><button type="button" class="btn btn-dark btn-circle text-light">
                <i class="fa fa-heart-o fa-2x"></i>
            </button></div>
            <div class="col-2 col-lg-1 py-2 py-lg-4"> 
                <button type="button" class="btn btn-dark btn-circle text-light">
                <i class="fa fa-bookmark-o fa-2x"></i>
                </button></div>
            <div class="col-2 col-lg-1 offset-col-lg-1 py-2 py-lg-4 "> 
                 <button type="button" class="btn btn-dark btn-circle text-light">
                <i class="fa fa-star-o fa-2x"></i>
                </button>
            </div>
             <div class="col-4 col-lg-3 offset-lg-1 py-2 py-lg-4" >
                <span (click)="onPopup($event)" data-link="https://www.youtube.com/embed/SUXWAEX2jlg" data-toggle="modal" data-target="#popupTrailer">
                <i class="fa fa-play fa-2s"></i> &nbsp; Play Trailer</span>
            </div>
           
            
         </div>
         <div class="font-italic py-4">
             {{movie.tagline}}
         </div>
         <div class="pt-lg-5">
             <h4>Overview</h4>
             {{movie.overview}}
         </div>
        
     </div>
 </div>
    <div class="row pt-4" id="movieContent">
     <div class="col-md-8" id="movieContentLeft">
         <div  id="movieCast"> 
            <div class="row">

                <div class="col-9">
                   <h3>Top Billed Cast</h3>
                </div>
                <div class="col-3 text-right cursor-pointer">
                   <span class="text-right " (click)="showCast()">more</span>
                </div>
               
            </div>
            <div id="castList">
                <div class="row">
                    <div class="col-4 col-md-4 col-lg-2 pt-2" *ngFor="let cast of castes.slice(0,6)">
                        <div class="card"  (click)="onSelectByActor(cast)" >
                        
                                <img  class="cursor-pointer card-img-top " src="{{cast.profile_path?'https://image.tmdb.org/t/p/w138_and_h175_face/'+cast.profile_path:'https://drive.google.com/uc?id=13x9PHVZWm1KH0Wg_lsOFVyVj7__k88pi'}}"   alt="...">
                     
                            <div class="card-body px-1 text-center d-none d-md-block">
                                <h6 class="font-smaller">{{cast.name}}</h6>
                              <p class="card-text font-smaller"><small>{{cast.character}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
         </div>
        
        
        
        <hr>
        
        <div id="movieRecommend">
            <div class="row">

                <div class="col-9">
                   <h3>Recommendations</h3>
                </div>
                <div class="col-3 text-right">
                   <span class="text-right" (click)="showRecommend()">more</span>
                </div>
               
            </div>
            <div id="recommendList">
                <div class="row">
                    <div class="col-6 col-lg-4" *ngFor="let recom of recommend.slice(0,3)">
                        <div  >
                           
                            <a routerLink="/movies/{{recom.id}}">
                                <img class="img-thumbnail rounded" src="https://image.tmdb.org/t/p/w250_and_h141_face/{{recom.backdrop_path}}" alt="{{recom.title}}" >
                            </a>
                            <div class="px-1 text-center ">
                                <h6 class="font-smaller"><small>{{recom.title}}</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div> 
                    <router-outlet></router-outlet>

                </div>
               
            </div>
            <!-- <div class="row">
                <div class="col-6 col-md-4"  *ngFor="let item of recommend">
                    <div class="card">
                        <a href="/movie/68721?language=en-US" title="Iron Man 3" alt="Iron Man 3">
                            <img class="px-1" src="https://image.tmdb.org/t/p/w250_and_h141_face/{{item.backdrop_path}}" alt="Iron Man 3" >
                        </a>
                        <div class="px-0">
                            <a class="title" href="/movie/68721" >{{item.title.length<20?item.title:item.title.substr(0,20)+"..."}}</a>
                            <span class=" text-right" style="float: right;">{{item.vote_average}}%</span>
                        </div>
                    </div>
                    
                </div>
            </div> -->
     </div>
     </div>
     <div class="col-md-4" id="movieContentRight">
         <h4><a href="{{movie.homepage}}"><i class="fa fa-home"></i></a></h4>
         <div>
            <div class="row">
                <div class="col-2 col-md-12">
                    <strong>Status</strong>
                 </div>
                <div class="col-10 col-md-12 text-left">
                    {{movie.status}}
                </div>
             </div>
             <div class="row">
                <div class="col-2 col-md-12">
                    <strong>  Original Language</strong>
                 </div>
                <div class="col-10 col-md-12 text-left">       
                    {{movie.original_language}}
                </div>
             </div>
             <div class="row">
                <div class="col-2 col-md-12">
                    <strong> Budget</strong>
                 </div>
                <div class="col-10 col-md-12 text-left">
                    {{movie.budget| currency:'USD'}}
                </div>
             </div>
             <div class="row">
                <div class="col-2 col-md-12">
                    <strong> Revenue</strong>
                 </div>
                <div class="col-10 col-md-12 text-left">
                    {{movie.revenue| currency:'USD'}}
                </div>
             </div>
         </div>
         <div id="movieKeyword" class="py-4" >
             <h5 class="font-weight-bold">Keywords</h5>
            <span class="badge badge-secondary mx-1" *ngFor="let keyword of keywords">{{keyword.name}}</span>
         </div>
        
        
     </div>

    </div>
</div>
<!-- <div class="page">
    <p><a href="#media-popup"  (click)="onPopup(url)"data-media="//www.youtube.com/embed/YoXa2Pl7Hk0">click me</a></p>
    
    <div class="popup" id="media-popup">
        <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
    </div>
</div> -->


<!-- youtube link -->
<!-- <a   (click)="onPopup($event)" data-link="http://www.youtube.com/embed/SUXWAEX2jlg" data-title="How to install SASS">trailer</a>
<br>
<a class="popup"  data-link="https://www.youtube.com/watch?v=SUXWAEX2jlg" data-title="How to install Node.js">Node.js</a>
<div id="video-view">
</div> -->


<!-- bootstrap modal -->
<!-- <button type="button" (click)="onPopup($event)" data-link="http://www.youtube.com/embed/SUXWAEX2jlg"  class="btn btn-primary" data-toggle="modal" data-target="#popupTrailer">
    Launch demo modal
  </button> -->

<!-- Modal -->
<div class="modal fade " id="popupTrailer" tabindex="-1" role="dialog" aria-labelledby="popupTrailerModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header  px-0 py-0">
          <h5 class="modal-title px-2 " id="popupTrailerModalLabel">Trailer</h5>
          <button type="button" class="close" (click)="closeModal($event)" data-dismiss="modal" aria-label="Close">
            <span class="pr-2" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body px-0 py-0 text-center" id="video-view">
          
        </div>
        
      </div>
    </div>
  </div>