ul.h-list li {
    display:inline;
  
  }

.btn-circle{
   
    width: 35px;
    height: 35px;
    padding: 2px 0px;
    border-radius: 18px;
    text-align: center;
    font-size: 6px;
    
}

#movieMainDetail{
  background: url('../../assets/img/stars.jpg') center center no-repeat  rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  padding: 50px 0; 
}

.imgHeight100{
    height: 100%;
}
.poster_wrapper{
    min-width: 300px;
    width: 300px;
    height: auto;
    text-align: center;
}

#castList{
    display: flex;
    flex-direction: column;
}
.font-smaller{
    font-size:smaller;
}

.cursor-pointer{
    cursor: pointer;
}

.h-scrolling {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

  }



  .video-thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;
   
  }
  .video-thumbnail:before {
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      content: "\f01d";
      font-family: FontAwesome;
      font-size: 100px;
      color: #fff;
      opacity: .8;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.video-thumbnail:hover:before {
      color: #eee;
    }
