
@media (min-width: 991.98px) { 
    .width50{
        width: 50%;
    }
    
}

@media (max-width: 768px) { 
    .font-size-sm{
        font-size:0.7rem;
    }
    .font-size-xs{
        font-size:0.5rem;
        padding: 0.1rem 0.3rem;
    }
    
}

.input-with-auto{
    width: auto;
    vertical-align: middle;
}

div.content {
    /* width: 100%; */
  
    position: relative;
    /* padding: 26px 10px 12px 10px;
    white-space: normal;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap; */
}

div.content div.consensus {
    position: absolute;
    top: -15px;
    right: 5px;
}

.cursor-pointer{
    cursor: pointer;
}

.pageActive{
    background-color: #e1e1e1;
    color: royalblue;
 }