.navbar {
    width: 100%;}
.nav-link {
        font-weight: bold; }
.nav-item {padding: 0 3rem; }
@media (max-width: 1199.98px) {        
.nav-item {padding: 0 1.5rem; }
}

.ul-no-bullet{
    list-style-type: none
}

ul.h-list li {
    display:inline;
    margin:0 20px;
  }

  .input-with-auto{
    width: auto;
    vertical-align: middle;
}


.cursor-pointer{
    cursor: pointer;
}

