
@media (min-width: 991.98px) { 
    .width50{
        width: 50%;
    }
    
}

@media (max-width: 768px) { 
    .font-size-sm{
        font-size:0.7rem;
    }
    .font-size-xs{
        font-size:0.5rem;
        padding: 0.1rem 0.3rem;
    }
    
}

.input-with-auto{
    width: auto;
    vertical-align: middle;
}
