.img50{
    width: 20%;
    

}

@media (max-width: 991.98px) { 
    .btn-xs {
        padding: .1rem .2rem;
        font-size: .7rem;
        line-height: 1.2;
        border-radius: .2rem;
        
      }
    
}


@media (max-width: 768px ) { 
    .font-size-sm{
        font-size:0.7rem;
    }
    .font-size-xs{
        font-size:0.5rem;
        padding: 0.1rem 0.2rem;
    }
    
}

.input-with-auto{
    width: auto;
    vertical-align: middle;
}
.pageActive{
    background-color: #e1e1e1;
    color: royalblue;
 }