<h2>Actor List</h2>
<div class="text-right pb-3">
  <form class="form-inline my-2 my-lg-0 text-right" (ngSubmit)="onSubmit(theForm)" #theForm="ngForm">
      <!-- <input [(ngModel)]="keyword" class="form-control mr-sm-2" name="keyword" id="keyword" type="search" placeholder="Search" aria-label="Search"> -->
      <input ngModel class="form-control mr-sm-2" name="keyword" id="keyword" type="search" placeholder="Search" aria-label="Search">
      <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<table class="table table-striped font-size-xs">
    <thead >
      <tr >
        <!-- <th scope="col">#</th> -->
        <th scope="col">profile</th>
        <th scope="col">name</th>
        <th scope="col">gender</th>
        <!-- <th scope="col">known_for_department</th> -->
        <th scope="col">knownFor</th>
        <th scope="col">popularity</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let actor of actors; index as i"> 
        <!-- <th scope="row">{{actor.id}}</th> -->
        <th  scope="row"><img class="rounded img-thumbnail" (click)="onSelect(actor)" src="{{ actor.profile_path?'https://image.tmdb.org/t/p/w235_and_h235_face/'+actor.profile_path: '../../assets/img/noImg.png'}}"   alt=""></th>
        <td class="text-left align-self-center justify-content-center">
            <button (click)="onSelect(actor)" type="button" class="btn btn-outline-success font-size-xs">{{actor.name}}</button>
            <!-- <a (click)="onSelect(actor)" class="text-decoration-underline"><u>{{actor.name}}</u></a> -->
        </td>
        <td>{{actor.gender}}</td>
        <!-- <td>{{actor.known_for_department}}</td> -->
        <td>
            <!-- <div class="btn-group" role="group" aria-label="Basic example" *ngFor="let item of actor.known_for">
                <button (click)="onSelectByMovie(item)" type="button" class="btn btn-secondary">{{item.title}}</button>
            </div> -->
            <!-- <ul class="list-group" *ngFor="let item of actor.known_for">
                <li (click)="onSelectByMovie(item)" class="list-group-item">{{item.title}}</li>
              
              </ul> -->
              <span *ngFor="let item of actor.known_for">
                <button type="button" (click)="onSelectByMovie(item)" class="btn btn-outline-primary mx-1 font-size-xs">{{item.title}}</button>
              </span>
              
             
        </td>
        <td>{{actor.popularity}}</td>
      
      </tr>
      
    </tbody>
  </table>
  <hr>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="onPage(1)">1</a></li>
      <li class="page-item">
          <a class="page-link" (click)="onPage(2)">2</a>
          <!-- <button type="button" class="btn btn-info" (click)="onPage(2)"> 2</button> -->
        </li>
      <li class="page-item">
        <a class="page-link" (click)="onPage(3)">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>