
#cover{
    background: #ddd url('../../assets/img/stageMain.jpg') center top no-repeat;
    background-size:cover;
    color: whitesmoke;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
  
 
}
#cover-caption{
    width:100%;
    height: 100%;
}

#maintitleBox{
    background: rgba(0, 0, 0, 0.2);
}

.w-70-100-50{
    max-width: 100%;
    height: auto;
}
@media (min-width: 576px) { 
    .w-70-100-50{
        max-width: 60%;
        height: auto;
    }
}
@media (min-width:768px) { 
    .w-70-100-50{
        max-width: 100%;
        height: auto;
    }
}
@media (min-width:992px) { 
    .w-70-100-50{
        max-width: 60%;
        height: auto;
    }
}
.w-30{
    max-width: 30%;
    height: auto;
    width: 30%;
    height:30%
}
.border-top-1{
    border-top: 1px solid #dee2e6!important;
}

.popularItem{
    background: rgba(200, 200, 200, 0.062);
    border-right: 1px solid #c4c4c4!important;
    border-bottom: 1px solid #c4c4c4!important;
}

.cursor-pointer{
    cursor: pointer;
}


div.content {
    /* width: 100%; */
  
    position: relative;
    /* padding: 26px 10px 12px 10px;
    white-space: normal;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap; */
}

div.content div.consensus {
    position: absolute;
    top: -15px;
    right: 5px;
}

.cursor-pointer{
    cursor: pointer;
}

.pageActive{
    background-color: #e1e1e1;
    color: royalblue;
 }

 .h-scrolling {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

  }

  .breakDiv {
    white-space:normal !important;
  
  }

 .trendingDiv{
     background: url('https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg') no-repeat;
     background-position: 50% 200px;
     background-size: 1300px;
     padding-bottom: 10px;
 
 }
 .font-smaller{
    font-size:smaller;
}
