<section id="cover">
  <div id="cover-caption">
      <div class="container pt-md-5 pb-md-5 no-gutter py-3" >
        <div class="row text-center" >
          <div class="col-10 offset-1 col-lg-6 offset-lg-3 text-center pt-2 py-sm-4 rounded" id="maintitleBox">
            <h4 >Welcome to The Movie Data Base</h4>
            <div class="px-lg-5 h-5" >This site is made for my portfolio and it is used by <strong class="text-primary">Angular Js</strong>.
               The data is from at https://www.themoviedb.org. This product uses the TMDb API but is not endorsed or certified by TMDb.</div>
           
              <form action="" class="form-inline   justify-content-center pt-3">
                <!-- <div class="form-group px-1 pt-2">
                    <label class="sr-only">Name</label>
                    <input type="text" class="form-control form-control-lg" placeholder="Your name">
                </div> -->
                <div class="form-group px-1 pt-2">
                    <label class="sr-only">Email</label>
                    <input type="text" class="form-control form-control-lg" placeholder="YourEmail@gmail.com">
                </div>
                <div class=" form-group px-1  pt-2">
                  <button type="submit" class="btn btn-success btn-lg ">okay, go!</button>
                </div>
               
            </form>
    
         
               
        </div>
       
        </div>
          
      </div>
  </div>
</section>
<div id="mainNew">
  <div class="container  ">
    <div class="row ">
      <div class="col-md-6 px-4 ">
        <h4 class="py-3">What's Popular?</h4>
        <div class="text-right"><small class="display-6 text-uppercase mr-1  ">Movie</small><i class="fa fa-film"></i></div>
        <div class="row my-2 rounded popularItem" *ngFor="let movie of movies.slice(0,5)" routerLink="/movies/{{movie.id}}">
          <div class="col-3 px-4">
            <img  src="https://image.tmdb.org/t/p/w220_and_h330_face/{{movie.poster_path}}" class="w-70-100-50 py-1" alt="{{movie.title}}">
          </div>
          <div class="col-9 row">
            <div class="col-12 mt-sm-3 my-md-0 ">{{movie.title}}</div>
            <div class="col-sm-6 col-md-12"><i class="fa fa-share-square-o pr-0 pr-2 "></i>{{movie.release_date | date}}</div>
            <div class="col-5 col-sm-3  col-md-5  "><i class="fa fa-star-o pr-0 pr-2"></i>{{movie.vote_average*10}}%</div>
            <div class="col-4 col-sm-3  col-md-5 m"><i class="fa fa-globe pr-0 pr-2"></i>{{movie.original_language}} </div>
          </div>
        </div>
      
      </div>
      <div class="col-md-6 px-4 ">
        <h4 class="py-3">&nbsp;</h4>
        <div class="text-right"><small class="display-6 mr-1">TV</small> <i class="fa fa-television"></i></div>
        <div class="row my-2 rounded popularItem" *ngFor="let tv of tvs.slice(0,5)" routerLink="/tv/{{tv.id}}">
          <div class="col-3 px-4">
            <img src="https://image.tmdb.org/t/p/w220_and_h330_face/{{tv.poster_path}}" class="w-70-100-50 py-1" alt="{{tv.name}}">
          </div>
          <div class="col-9 row">
            <div class="col-12 mt-sm-3 my-md-0 ">{{tv.name}}</div>
            <div class="col-sm-6 col-md-12"><i class="fa fa-share-square-o pr-0 pr-2 "></i>{{tv.first_air_date | date}}</div>
            <div class="col-5 col-sm-3  col-md-5  "><i class="fa fa-star-o pr-0 pr-2"></i>{{tv.vote_average*10}}%</div>
            <div class="col-4 col-sm-3  col-md-5 m"><i class="fa fa-globe pr-0 pr-2"></i>{{tv.original_language}} </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<section id="trending">
  <div class="section-content">
    <div class="container">
      <div class="pt-4 pb-4 trendingDiv">
        <h4>Trending</h4>
        <div id="actorMovieList" class="h-scrolling">
         
                
                    <div class="col-3 col-lg-2 d-inline-block px-1 px-md-3"  *ngFor="let item of trends">
                      <div class="h-scrolling " *ngIf="item.media_type==='movie'; then thenBlock; else elseBlock;"></div> 
                       <ng-template #thenBlock>
                        <div class="card border-light border-bottom-0" >
                          <a routerLink="/movies/{{item.id}}">
                              <img src="{{item.poster_path?'https://image.tmdb.org/t/p/w220_and_h330_face/'+item.poster_path:'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg'}}" class="card-img-top" alt="{{item.name}}_NoImg">
                          </a> 
                              <div class=" content text-center px-1 py-2 cursor-pointer" routerLink="/movies/{{item.id}}">
                                  <div class="consensus  ">
                                      <span class="btn btn-success btn-sm rounded-circle p-1 border">{{item.vote_average*10}}%</span>
                                      
                                  </div>
                                  <h6 class="  pt-2 breakDiv">
                                    <small>{{item.title.split(" ").length>5?item.title.split(" ").slice(0,5).join(" ")+"...":item.title}}</small>
                                  </h6>
                                  <p class="  text-right px-2  font-smaller  text-secondary breakDiv"><small>{{item.release_date|date }}</small></p>
                                  <!-- <h6 class="font-smaller pt-2 ">{{item.title.split(" ").length>4?item.title.split(" ").slice(0,4).join(" ")+"...":item.title}}</h6> -->
                              </div>
                          </div>
                      </ng-template>
                      <ng-template #elseBlock>
                        <div class="card border-light border-bottom-0 " >
                          <a routerLink="/tv/{{item.id}}">
                              <img src="{{item.poster_path?'https://image.tmdb.org/t/p/w220_and_h330_face/'+item.poster_path:'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg'}}" class="card-img-top" alt="{{item.name}}_NoImg">
                          </a> 
                              <div class=" content text-center px-1 py-2 cursor-pointer" routerLink="/tv/{{item.id}}">
                                  <div class="consensus  ">
                                      <span class="btn btn-success btn-sm rounded-circle p-1 border">{{item.vote_average*10}}%</span>
                                      
                                  </div>
                                  <h6 class=" pt-2 breakDiv" >
                                    <small>{{item.name.split(" ").length>5?item.name.split(" ").slice(0,5).join(" ")+"...":item.name}}</small>
                                  </h6>
                                  <p class=" text-right px-2  font-smaller  text-secondary breakDiv "><small>{{item.first_air_date|date }}</small></p>
                                  <!-- <h6 class="font-smaller pt-2 ">{{item.name.split(" ").length>4?item.name.split(" ").slice(0,4).join(" ")+"...":item.name}}</h6> -->
                              </div>
                          </div>
                      </ng-template>
                    </div>
                
               
            
           
        </div>
    </div>
     
    </div>
  </div>
</section>
<section id="news">
  <div class="section-content">
      <div class="container pb-4">
          <h3>Lastest News</h3>
          <p class="lear">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, nobis rem sunt neque
              at similique, dolores aut esse qui sint minus fugit praesentium saepe architecto maiores quisquam in
              delectus asperiores.</p>
          <hr>
          <div class="row">
              <div class="col-4 col-lg-2 p-2" *ngFor="let movie of tops.slice(0,10)">
                <div class="card "  >
                    <a routerLink="/movies/{{movie.id}}">
                        <img src="https://image.tmdb.org/t/p/w220_and_h330_face/{{movie.poster_path}}" class="card-img-top" alt="{{movie.title}}">
                    </a> 
                    <div class="card-block p-2 text-center">
                      <h6 class="card-title "><small class="font-weight-bold">{{movie.title}}</small> </h6>
                      <p class="card-text d-none d-md-block"><small>{{movie.overview.slice(0,80)}}...</small></p>
                  </div>
                </div>
            </div>

                

           
          </div>
         

          <!-- <nav class="text-xs-center">
              <ul class="pagination">
                  <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                      </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
              </ul>
          </nav> -->
      </div>
  </div>
</section>