
#cover{
    background: #ddd url('../../assets/img/stageMain.jpg') center top no-repeat;
    background-size:cover;
    color: whitesmoke;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
  
 
}
#cover-caption{
    width:100%;
    height: 100%;
}

#maintitleBox{
    background: rgba(0, 0, 0, 0.2);
}

.w-70-100-50{
    max-width: 70%;
    height: auto;
}
@media (min-width:768px) { 
    .w-70-100-50{
        max-width: 100%;
        height: auto;
    }
}
@media (min-width:992px) { 
    .w-70-100-50{
        max-width: 60%;
        height: auto;
    }
}
.w-30{
    max-width: 30%;
    height: auto;
    width: 30%;
    height:30%
}
.border-top-1{
    border-top: 1px solid #dee2e6!important;
}

.popularItem{
    background: rgba(200, 200, 200, 0.062);
    border-right: 1px solid #c4c4c4!important;
    border-bottom: 1px solid #c4c4c4!important;
}

.cursor-pointer{
    cursor: pointer;
}